---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='{{[type]}}' id='{{[id]}}' active='form' %}
  <a name="root"> </a>
  <h2 id="root">{{[type]}}: {{site.data.pages[page.path].title | escape_once}}
{% if site.data.resources[resource_].experimental == true %}(Experimental){% endif %}
  </h2>

  <p>
    Live form rendered by the
    <a href="https://sdk.tiro.health">Tiro.health Web SDK</a>
    (<code>&lt;tiro-form-filler&gt;</code>). The questionnaire JSON is embedded inline below.
  </p>

  <script src="assets/js/tiro-web-sdk.iife.js"> </script>

  <tiro-form-filler id="{{[id]}}-form">
    <script type="application/fhir+json" slot="questionnaire">
{% include {{[type]}}-{{[id]}}.json %}
    </script>
  </tiro-form-filler>
</div>
{% include fragment-pageend.html %}
